@media (min-width:336px) and (max-width:552px){
    .card{
        width: 300px;
        height: 200px;
    }
}


@media (min-width: 415px) {

    .card{
        width: 300px;
        height: 200px;
    }

}

@media (min-width: 460px) and (max-width:687px) {

    .card{
        width: 300px;
        height: 200px;
    }

}

@media (min-width: 688px) and (max-width: 700px){

    .card {
        width:55%;
    
    }
 
}